<div ng-controller="ListController as listCtrl">	
	<button class="btn btn-primary" ng-click="listCtrl.listBloguer()">Listar</button>
	<div class= "row">
		<div class="row-same-height">
			<div class="col-md-4" ng-repeat="bloguer in listCtrl.bloguers">
				{{$index+1}}
				<dl>
					<dt>Full name</dt>
						<dd>{{bloguer.full_name}}</dd>	

					<dt>Follower</dt>

					<dt>Followers</dt>

						<dd>{{bloguer.followed_by}}</dd>
					<dt>MediaComments</dt>
						<dd>{{bloguer.mediaComments}}</dd>
					<dt>MediaLikes</dt>
						<dd>{{bloguer.mediaLikes}}</dd>
					<dt>Telefone</dt>
						<dd>{{bloguer.telefone}}</dd>
					<dt>Email</dt>
						<dd>{{bloguer.email}}</dd>
					<dt>CEP</dt>
						<dd>{{bloguer.cep}}</dd>
					<dt>Endereço</dt>
						<dd>{{bloguer.endereco}}</dd>
					<dt>OBS</dt>
						<dd>{{bloguer.obs}}</dd>
				</dl>
				<button class="btn btn-primary" ng-click="listCtrl.deleteBloguer(bloguer.id)">Del</button>
				<button class="btn btn-primary" ng-click="listCtrl.editBloguer(bloguer.id)">Edit</button>
				
			</div>			
		</div>
	</div>
</div>