<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap-css/css/bootstrap.min.css"> 
  <title>Sistema Bloguers</title>
</head>
<body ng-app="app">
<div class = "container">
	
	<div class="row">
		<ul class="nav nav-pills">
			<li><a href="#/home">Home</a></li>
			<li><a href="#/consulta">Adicionar Bloguer</a></li>
			<li><a href="#/lista">Lista</a></li>
			<li><a href="#/envios">Envios</a></li>
		</ul>
	</div>
	<div class="row" ui-view></div>

</div>	
	
	<script src="lib/angular/angular.min.js"></script>
	
	<script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="lib/ui-utils/ui-utils.js"></script>
	<script src="js/app.js"></script>
</body>
</html>